target/
!.mvn/wrapper/maven-wrapper.jar
*.log
packageJar/
utils/
.zip

### propreties ###
.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
*.iml
/.idea/
.idea
.idea/
*.iws
*.ipr